.heading {
  padding: 20px;
}

.nav {
  text-align: center;
  // margin: 20px 0;
  margin-bottom: 30px;
}

.button-add-subject {
  background-color: #6ca8d6;
  margin-right: 10px;
  color: #fff;
  font-weight: bold;
}

.button-change-mode {
  margin-right: 10px;
}
