.form-subject {
  display: flex;
  width: 40%;
  margin: 10px 0;
}

.form button:hover,
.form button:active {
  background-color: rgba(247, 247, 255, 0.652);
  border-color: #031b64;
}

.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
}

.form-control input:focus {
  outline: none;
  background: #fad0ec;
  border-color: #8b005d;
}

.button-add {
  background-color: rgba(247, 247, 255, 0.514);
  margin-left: 8px;
}
